{{ define "main" }}

<link rel="stylesheet" href="../memos/cdn/APlayer.min.css">
<link rel="stylesheet" href="../memos/cdn/animate.min.css">
<link rel="stylesheet" href="../memos/grid.css">
<link rel="stylesheet" href="../memos/memos.css">

<div id="bber"></div>
<script type="text/javascript">
  var bbMemos = {
    memos : 'https://memos.lzsay.com/',//修改为自己部署 Memos 的网址，末尾有 / 斜杠
    limit : '10',//默认每次显示 10 条
    creatorId:'1' ,//早期默认为 101 用户，新安装是 1； https://demo.usememos.com/u/101
    domId: 'bber',//默认为 bber
  }
</script>

<script src="../memos/cdn/marked.min.js"></script>
<script src="../memos/cdn/lozad.min.js"></script>
<script src="../memos/bb-lmm-mk.js"></script>
{{ end }}

{{ define "footer" }}
<script src="/theme-main-1.js"></script>
{{ end }}
