{{ define "main" }}
  {{ $PageContext := . }}
  {{ if .IsHome }}
    {{ $PageContext = .Site }}
  {{ end }}

  <div class="posts posts-home home">
      <div class="post list-item">
        <div class="index-laodao">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-bird"><path d="M16 7h.01"/><path d="M3.4 18H12a8 8 0 0 0 8-8V7a4 4 0 0 0-7.28-2.3L2 20"/><path d="m20 7 2 .5-2 .5"/><path d="M10 18v3"/><path d="M14 17.75V21"/><path d="M7 18a6 6 0 0 0 3.84-10.61"/></svg>
            <div class="index-laodao-titile">最新唠叨</div>
    </div>
    <!--memos--> 
    <div id="memos"></div>
    <div id="bber"></div>
    <!-- 加载 Markdown 语法-->
    <script src="https://fastly.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script type="text/javascript" src="/moment.min.js"></script>
<script type="text/javascript" src="/moment.twitter.min.js"></script>
<script>
    function formatDate(param) {
    if(typeof param === 'number') {
         param = new Date(param * 1000).toISOString();
      }
    return moment(Date.parse(param)).twitterLong().replace(/\s\d{2}:\d{2}/, '');
    }
    </script>
    <!--memos 内容-->
    <script src="../memos/memos.js"></script>
    <script src="/coco-message.min.js"></script>
    <link rel="stylesheet" href="../memos/memos.css">
      </div>

  </div>
{{ end }}