{{ define "main" }}
{{ $goods := getJSON "static/goods/goods.json" }}

<div class="post">
  <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h2>
  <div class="post-content goods">
  {{ .Content }}
  <div id="goods">
  {{ range $goods.good}}
  <div class="goods-bankuai img-hide">
    <div class="goods-duiqi"><img loading="lazy" decoding="async" src="{{ .image }}"></div>
    <div class="goods-jiage">{{ .jiage }}</div>
    <div class="goods-title">
      {{ if .link }}
        <a href="{{ .link }}">
          {{ if .isDeleted }}<del>{{ .title }}</del>{{ else }}{{ .title }}{{ end }}
        </a>
      {{ else }}
        {{ if .isDeleted }}<del>{{ .title }}</del>{{ else }}{{ .title }}{{ end }}
      {{ end }}
    </div>
    <div class="goods-note">
      {{ if .isDeleted }}<del>{{ .note }}</del>{{ else }}{{ .note }}{{ end }}
    </div>
  </div>
  {{ end }}
  </div>
  </div>
</div>
{{ end }}