{{ define "head" }}
  {{ if .Paginator.HasPrev -}}<link rel="prefetch" href="{{ .Paginator.Prev.URL }}">{{- end }}
  {{ if .Paginator.HasNext -}}<link rel="prefetch" href="{{ .Paginator.Next.URL }}">{{- end }}
{{ end }}

{{ define "main" }}
  {{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
  {{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}

  {{ $PageContext := . }}
  {{ if .IsHome }}
    {{ $PageContext = .Site }}
  {{ end }}

  {{/* Filter to ensure only pages from the "posts" section are included */}}
  {{ $postsOnly := where $PageContext.RegularPages "Section" "posts" }}
  {{ $paginator := .Paginate $postsOnly }}
  
  <div class="posts posts-home home">
    {{ range $paginator.Pages }}
      <div class="post list-item">
        <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></h1>
        <div class="post-meta">
          {{ if .Date }}
            <span class="post-date">
              {{ .Date.Format ($.Site.Params.DateFormatList | default "2006-01-02") }}
            </span>
          {{ end }}
          {{ if .Params.tags }}
            <span class="tags">
              {{ range .Params.tags }}
                #<a href="{{ (urlize (printf "tags/%s" . )) | absURL }}/">{{ . }}</a>&nbsp;
              {{ end }}
            </span>
          {{ end }}
        </div>
        <div class="post-content">
          {{ if .Truncated }}
            {{ .Summary }}
            <div><a class="read-more button" href="{{.RelPermalink}}">{{ $.Site.Params.ReadMore | default "Read more" }} →</a></div>
          {{ else }}
            {{ .Content }}
            {{ .Render "path" }}
          {{ end }}
        </div>
      </div>
    {{ end }}
    {{ partial "pagination.html" . }}
  </div>
  {{ range $PageContext.RegularPages }}
  <div>{{ .Title }} - Section: {{ .Section }}</div>
{{ end }}

  {{ end }}
