{{$scratch := newScratch}}
{{ range (where .Site.RegularPages "Type" "posts")}}
    {{$scratch.Add "total" .WordCount}}
{{ end }}

{{$totalWord := $scratch.Get "total" }}
{{ $wowWord := div $totalWord 10000}}

<footer class="footer {{ if .IsHome -}}home-footer{{- end -}}">
  <div class="footer__inner">
<!--     <div class="copyright copyright-font">
      <span><a href="https://lzsay.com" target="_blank" rel="noopener">linexy Blog</a></span>
    </div> -->
    <img alt="Static Badge" src="https://shields.lzsay.com/badge/:badgeContent?label=Rss&labelColor=2bb24&color=282c34&link=https%3A%2F%2Flzsay.com%2Ffeed">
      <div class="copyright">
        <span>linexy · © {{ now.Year }} · <a href="https://lzsay.com" target="_blank" rel="noopener">linexy Blog</a></span>
      </div>
  </div>
</footer>

<script type="text/javascript" src="/theme-main-1.js"></script>
<script type="text/javascript" src="/lately.min.js"></script>
<script type="text/javascript" src="/view-image.js"></script>
<script type="text/javascript" src="/theme-lmm.js?v=230824"></script>
<script type="text/javascript" src="/pangu.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    pangu.autoSpacingPage();
  });
</script>

{{ if .IsHome }}
  <script type="text/javascript" src="/theme-lmm-home.js?v=230920"></script> 
{{ end }}
