{{$scratch := newScratch}}
{{ range (where .Site.RegularPages "Type" "posts")}}
    {{$scratch.Add "total" .WordCount}}
{{ end }}

{{$totalWord := $scratch.Get "total" }}
{{ $wowWord := div $totalWord 10000}}

<footer class="footer {{ if .IsHome -}}home-footer{{- end -}}">
  <div class="footer__inner">
<!--     <div class="copyright copyright-font">
      <span><a href="https://lzsay.com" target="_blank" rel="noopener">linexy Blog</a></span>
    </div> -->
    <img alt="Static Badge" src="https://shields.lzsay.com/badge/%20RSS%E8%AE%A2%E9%98%85-blue?style=flat&logo=feedly&link=https%3A%2F%2Flzsay.com%2Ffeed"><img alt="Static Badge" src="https://shields.lzsay.com/badge/%E5%85%B3%E6%B3%A8-blue?style=flat&logo=X&color=000000&link=https%3A%2F%2Fx.com%2Flinexy72"><img alt="Static Badge" src="https://shields.lzsay.com/badge/%E5%85%B3%E6%B3%A8-blue?style=flat&logo=mastodon&logoColor=ffffff&color=6364ff&link=https%3A%2F%2Fmastodon.social%2F%40linexy"><img alt="Static Badge" src="https://shields.lzsay.com/badge/%E5%85%B3%E6%B3%A8-black?style=flat&logo=github&link=https%3A%2F%2Fmastodon.social%2F%40linexy">
      <div class="copyright">
        <span>linexy · © {{ now.Year }} · <a href="https://lzsay.com" target="_blank" rel="noopener">linexy Blog</a></span>
      </div>
  </div>
</footer>

<script type="text/javascript" src="/theme-main-1.js"></script>
<script type="text/javascript" src="/lately.min.js"></script>
<script type="text/javascript" src="/view-image.js"></script>
<script type="text/javascript" src="/theme-lmm.js?v=230824"></script>
<script type="text/javascript" src="/pangu.min.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    pangu.autoSpacingPage();
  });
</script>

{{ if .IsHome }}
  <script type="text/javascript" src="/theme-lmm-home.js?v=230920"></script> 
{{ end }}
